<div type="button" class="card h-100" (click)="onClick()">
	<div class="d-flex h-100" [ngClass]="{ 'flex-column': !changeLayout, 'flex-row flex-md-column': changeLayout }">
		<img [src]="accomodation.imageUrl" [alt]="accomodation.title" class="card-img" [ngClass]="{ 'w-md-100 w-50': changeLayout }" />
		<div class="card-body d-flex flex-column flex-grow-1">
			<h5 class="card-title fw-500 mb-0 fs-md-5 fs-6">
				{{ accomodation.title }}
			</h5>
			<small class="text-muted card-text">
				<ng-container *ngIf="accomodation.location">{{ accomodation.location.name }}</ng-container>
                <ng-container *ngIf="location$ | async as location">{{location.name}}</ng-container>
			</small>
			<div class="d-flex flex-column justify-content-end flex-grow-1">
				<ng-template [ngIf]="isFavorite">
					<p class="card-text fw-500 my-3">Renting the entire unit</p>
					<div class="d-flex justify-content-between">
						<a type="button" class="text-primary text-decoration-none text-uppercase fw-500" (click)="onClickEdit()">Edit</a>
						<a type="button" class="text-danger text-decoration-none text-uppercase fw-500" (click)="onClickDelete()">Delete place</a>
					</div>
				</ng-template>
				<ng-template [ngIf]="!isFavorite">
					<p class="card-text text-uppercase fw-500 my-3" *ngIf="!isReservation">EUR {{ accomodation.price }}</p>
					<p class="card-text fw-500 my-3" *ngIf="isReservation">{{ checkIn | date}} - {{ checkOut | date}}</p>
					<div class="row">
						<div class="col-1" *ngFor="let i of [].constructor(accomodation.categorization)">
							<i class="fas fa-star"></i>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
