<div class="container pt-3">
	<div class="d-flex justify-content-between">
		<h3 class="col d-flex flex-column fw-400">
			<span *ngIf="!locationName">Homes guests love</span>
			<span *ngIf="!!locationName">Stays in {{ locationName }}</span>
			<small class="text-muted fs-5 mt-1">{{ 1 }} properties</small>
		</h3>
		<a
			class="d-lg-none text-primary text-decoration-none fs-5 text-uppercase fw-500"
			data-bs-toggle="offcanvas"
			href="#offcanvas"
			role="button"
			aria-controls="offcanvas"
		>
			<i class="far fa-sort-amount-down me-2"></i>filters
		</a>
	</div>
	<div class="offcanvas-lg offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvas">
		<div class="offcanvas-header">
			<a class="text-primary text-decoration-none" role="button" data-bs-dismiss="offcanvas" href="#offcanvas" aria-labelledby="Close">
				<span class="text-uppercase text-primary fw-500"><i class="fal fa-times me-2"></i>Close</span>
			</a>
		</div>
		<div class="offcanvas-body py-lg-4 d-flex flex-column flex-lg-row gap-3 align-items-stretch">
			<app-form-control-input [control]="checkIn" type="text" icon="far fa-calendar" name="check-in" label="Check in"></app-form-control-input>
			<app-form-control-input
				[control]="checkOut"
				type="text"
				icon="far fa-calendar"
				name="check-out"
				label="Check out"
			></app-form-control-input>
			<app-form-control-input [control]="guests" type="text" icon="fas fa-user" name="guests" label="How many people?"></app-form-control-input>
			<app-form-control-input
				[control]="accomodationType"
				[data]="data"
				type="select"
				icon="fas fa-bed"
				name="type"
				label="What type of accomodation?"
			></app-form-control-input>
			<button type="button" class="btn btn-primary text-white text-uppercase" style="min-width: 148px" (click)="onSearch()">search</button>
		</div>
	</div>
	<div class="row py-4 pt-lg-0 g-3" *ngIf="!(accomodationsLoading$ | async) && !(accomodationsError$ | async); else elseBlock">
		<div class="col-lg-3 col-md-6 col-12" *ngFor="let accomodation of accomodations$ | async">
			<app-accomodation-box (OnClick)="accommodationClicked($event)" [accomodation]="accomodation" [changeLayout]="true"></app-accomodation-box>
		</div>
	</div>
	<ng-template #elseBlock>
		<div class="d-flex justify-content-center align-items-center">
			<div class="loader loader-primary" *ngIf="accomodationsLoading$ | async"></div>
			<p class="text-danger" *ngIf="accomodationsError$ | async">{{ (accomodationsError$ | async)?.error?.title }}</p>
		</div>
	</ng-template>
</div>
