<div class="container py-4">
    <img [src]="accommodation.imageUrl" alt="" class="rounded-4 w-100">
    <div class="d-flex flex-column flex-lg-row justify-content-lg-between gap-3 py-4">
        <div id="details" class="w-100">
            <div
                class="d-flex flex-column flex-lg-row justify-content-start align-items-lg-center gap-lg-4 gap-2">
                <h3 class="m-0">{{accommodation.title}}</h3>
                <div id="stars" class="d-flex gap-2" style="color: #F3B08E">
                    <i class="fas fa-star" *ngFor="let i of [].constructor(accommodation.categorization)"></i>
                </div>
            </div>
            <div class="my-2">
                <small class="text-muted">Stay in the heart of {{location.name}}</small>
            </div>
            <div class="d-flex py-2 py-lg-4 align-items-center gap-3 fw-600">
                <i class="far fa-calendar" style="color:#F3B08E"></i>
                {{accommodation.freeCancelation ? 'Free cancellation available' : 'No free cancellation available'}}
            </div>
            <div id="summary" [innerHtml]="accommodation.description"></div>
        </div>
        <div  class="d-flex justify-content-center align-items-start">
            <div id="info" class="d-flex flex-column justify-content-between rounded-3">
                <div id="wrapper">
                    <h5 class="mb-2 fw-500">Property info</h5>
                    <p class="mb-2">{{accommodation.personCount}} {{accommodation.personCount != 1 ? 'guests' : 'guest'}}</p>
                    <p class="mb-2">{{AccommodationType[accommodation.type]}}</p>
                    <p class="mb-2">EUR {{accommodation.price}} per night</p>
                    <p class="mb-2">{{location.name}}</p>
                    <p class="mb-2">{{location.postalCode}}</p>
                </div>
                <button type="button" class="btn btn-primary text-white text-uppercase" (click)="onBook()">Book your stay</button>
            </div>
        </div>
    </div>
</div>