<input class="form-control" [formControl]="control" [ngClass]="{'ps-4d5': hasIcon}" [type]="type" [name]="name" [required]="required"
    *ngIf="type !== 'select' && type !== 'textarea'">
<select class="form-select" [formControl]="control" [ngClass]="{'ps-4d5': hasIcon}" [name]="name" *ngIf="type === 'select'" [required]="required">
    <option selected></option>
    <option *ngFor="let value of data" [ngValue]="value.inputValue">{{value.label}}</option>
</select>
<textarea class="form-control" [name]="name" cols="150" rows="4" *ngIf="type === 'textarea'"></textarea>
<label [for]="name">{{label}}</label>
<div id="icon" class="d-flex flex-column justify-content-center p-0" *ngIf="hasIcon">
    <i [class]="icon"></i>
</div>
<ng-content></ng-content>