<nav class="navbar navbar-expand-md navbar-light">
    <div class="container ">
        <ng-template [ngIf]="isLoggedIn">
            <button class="navbar-toggler me-4 p-0 border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <i class="far fa-bars"></i>
            </button>
        </ng-template>
        <div class="d-flex justify-content-start flex-grow-1">
            <a [routerLink]="['/home']" class="navbar-brand text-dark fw-500">Staycation</a>
        </div>
        <ng-template [ngIf]="isLoggedIn">
            <div class="offcanvas offcanvas-start p-4" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                    <a class="text-primary text-decoration-none" type="button" data-bs-dismiss="offcanvas"
                        aria-labelledby="Close">
                        <span class="text-uppercase text-primary fw-500"><i class="fal fa-times me-2"></i>Close</span>
                    </a>
                </div>
                <div class="off-canvas-body">
                    <ul class="navbar-nav gap-4 gap-md-5">
                        <li class="nav-item rounded p-2">
                            <a [routerLink]="['/locations']" class="nav-link link-primary text-dark" routerLinkActive="text-primary disabled">Locations</a>
                        </li>
                        <li class="nav-item rounded p-2">
                            <a [routerLink]="['/my-places']" class="nav-link link-primary text-dark" routerLinkActive="text-primary disabled">My places</a>
                        </li>
                        <li class="nav-item rounded p-2">
                            <a [routerLink]="['/my-bookings']" class="nav-link link-primary text-dark" routerLinkActive="text-primary disabled">My bookings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a id="logout-button" class="link-secondary text-decoration-none text-dark text-uppercase fw-500 fs-7"
                (click)="logout()">Logout</a>
        </ng-template>
    </div>
</nav>