<nav class="navbar navbar-expand-md navbar-light px-5">
    <div class="container-fluid justify-content-md-between">
        <a href="#" class="navbar-brand text-dark fw-500">Staycation</a>
        <ul class="navbar-nav gap-3 gap-md-5">
            <li class="nav-item"><a href="#" class="nav-link text-decoration-underline">Locations</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-decoration-underline">My places</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-decoration-underline">My bookings</a></li>
        </ul>
        <a href="#" class="link-secondary text-decoration-none text-dark text-uppercase fw-500 fs-7">Logout</a>
    </div>
</nav>