<ng-container *ngIf="!((accomodationLoading$ | async) || (accomodationError$ | async)); else elseBlock">
	<ng-container *ngIf="accomodation$ | async as accomodation">
		<div class="container py-5">
			<h1 class="mb-5">Book your stay</h1>
			<form class="d-flex flex-column flex-lg-row justify-content-lg-between gap-4 gap-lg-6" (submit)="onSubmit()" #submitForm>
				<div class="row g-4 order-2 order-lg-1">
					<div class="col-12">
						<app-form-control-input type="text" label="Full name" [control]="fullName" [required]="true">
							<p class="invalid-feedback">Please enter your full name.</p>
						</app-form-control-input>
					</div>
					<div class="col-12">
						<app-form-control-input type="email" label="Email address" [control]="email" [required]="true">
							<p class="invalid-feedback">Please enter a valid email.</p>
						</app-form-control-input>
					</div>
					<div class="col-12">
						<app-form-control-input type="number" label="Number of guests" [control]="guestCount" [required]="true">
							<p class="invalid-feedback">Please enter a number of guests.</p>
						</app-form-control-input>
					</div>
					<div class="col-6">
						<app-form-control-input type="text" name="checkIn" label="Check in" [control]="checkIn" icon="far fa-calendar" [required]="true">
							<p class="invalid-feedback">Please enter a valid check in date.</p>
						</app-form-control-input>
					</div>
					<div class="col-6">
						<app-form-control-input type="text" name="checkOut" label="Check out" [control]="checkOut" icon="far fa-calendar" [required]="true">
							<p class="invalid-feedback">Please enter a valid check out date.</p>
						</app-form-control-input>
					</div>
					<div class="col-6 d-none d-lg-inline"></div>
					<div class="col-12 col-lg-6">
						<button type="submit" class="btn btn-primary text-uppercase w-100">Book your stay</button>
					</div>
				</div>
				<div class="card p-2 flex-row justify-content-between w-100 order-1 order-lg-2">
					<img [src]="accomodation.imageUrl" />
					<div class="card-body d-flex flex-column justify-content-between pt-0 pb-0 pe-0">
						<div>
							<h5 class="card-title fw-500 mb-0 fs-md-5 fs-6">
								{{ accomodation.title }}
							</h5>
							<div class="row justify-content-start pt-1" id="rating">
								<div class="col-1" *ngFor="let i of [].constructor(accomodation.categorization)"><i class="fas fa-star"></i></div>
							</div>
						</div>
						<div>
							<p class="mb-1">{{ AccomodationType[accomodation.type] }}</p>
							<ng-container *ngIf="location$ | async as location">
								<p class="mb-1">{{ location.name }}</p>
								<p class="mb-1">{{ location.postalCode }}</p>
							</ng-container>
							<p class="mb-1">EUR {{ accomodation.price }} <span class="d-none d-sm-inline">per night</span></p>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="modal" tabindex="-1" role="dialog" id="bookingModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header border-0">
						<h5 class="modal-title">Confirm booking</h5>
					</div>
					<div class="modal-body">
						<p class="m-0">{{ accomodation.title }}</p>
						<p class="m-0">{{ guestCount.value }} guests</p>
						<p class="m-0">{{ reservation.checkIn | date }} - {{ reservation.checkOut | date }}</p>
						<p class="m-0">{{ AccomodationType[accomodation.type] }}</p>
						<p class="m-0" *ngIf="location$ | async as location">{{ location.name }}</p>
						<p class="m-0">EUR {{ accomodation.price * nights + (guestCount.value - 1) * 55 }}</p>
						<div class="d-flex justify-content-end gap-3">
							<button data-bs-dismiss="modal" class="btn btn-white text-uppercase text-primary">Cancel</button>
							<button type="button" data-bs-dismiss="modal" class="btn btn-white text-uppercase text-primary" (click)="onConfirm()">Confirm</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>
<ng-template #elseBlock>
	<div class="d-flex justify-content-center align-items-center py-5">
		<div class="loader loader-primary" *ngIf="accomodationLoading$ | async"></div>
		<h3 class="text-danger" *ngIf="accomodationError$ | async as error">{{ error.statusText }}</h3>
	</div>
</ng-template>
