p {
    color: #1A3440;
}

img {
    object-fit: cover !important;
    max-height: 500px;
}

#info {
    gap: 44px;
    padding: 24px;
    background-color: #F2FDFC;

    button {
        width: 250px;
    }
}